[2015-06-16 13:51] SJApps opened #2 "UIStackView for iOS9"
This is nice for backward capability but will this use UIStackView if it's on iOS9?

[2015-06-16 13:59] delebedev commented on #2
Maybe it makes sense to use approach from here to fallback to original iOS 9 implementation: https://github.com/steipete/PSTCollectionView/blob/master/PSTCollectionView/PSTCollectionView.h

[2015-06-16 22:59] nsomar commented on #2
I am still not sure about how to approach fallback here, as most of the time you would use the stackview from the interface builder. `PSUICollectionView` sounds very promising.

[2015-06-21 08:35] pjebs opened #10 "tomvanzummeren/TZStackView"
I was wondering what the difference was between this control:

https://github.com/tomvanzummeren/TZStackView

[2015-06-21 13:42] nsomar commented on #10
Hey,

I think the main difference is that its written in swift, which means you will have to include libswiftcore.dylib and other swift libs when compiling your app.

Another main difference is in the way both project deals with changing settings, while in OAStackView performance was key (since you are going to use the stackview in complicated layouts). Changing axes and other settings will not ca

[2015-06-21 15:39] tomvanzummeren commented on #10
Thanks for the feedback ☺️

And sorry, I wasn't aware of this component when I created mine. I was participating WWDC when I heard about this new UIStackView and I was so enthusiastic about it that I decided to create it myself for earlier iOS versions.

But OAStackView has beaten me to the punch! I really did search for something similar when I started, but couldn't find anything!

Btw, another d

[2015-06-21 15:46] harlanhaskins commented on #10
It seems like TZStackView has more features implemented, but OAStackView is faster and has more recognition.

Maybe @tomvanzummeren should contribute back to OAStackView?

[2015-06-21 15:58] nsomar commented on #10
@tomvanzummeren and @harlanhaskins The other distribution options have been introduced today by PR https://github.com/oarrabi/OAStackView/pull/8. the readme will be updated to reflect this addition soon.

I am not sure I understand the hiding argument, but OAStackView does indeed handle hiding the views, I didn't try, but setting a subview hidden inside a beginAnimation block should animate it as

[2015-06-21 16:04] tomvanzummeren commented on #10
Try it. Animating the hidden property of a subview doesn't just work out of the box. That's why it's mentioned in a separate part of the UIStackView docs.

But anyway, we both took different approaches. No use to contribute. OAStackView did it with performance in mind and is written in ObjC. Mine is in Swift and I decided performance is not important as you're not adding and removing subviews mult

[2015-06-21 16:07] tomvanzummeren commented on #10
And also:

I created TZStackView just because I wanted it for myself. This time I decided to share it with everyone by putting it on GitHub. I can take it down if it is not appreciated, but I won't contribute. It already took way too much of my spare time to create this one.

[2015-06-21 16:56] nsomar commented on #10
@tomvanzummeren This is what happens when you hide a view inside an animation block
![369f8e6eed](https://cloud.githubusercontent.com/assets/1461052/8272550/c1bec77a-183e-11e5-96f2-137177e6ca3e.gif)

The change was to explicitly call `layoutIfNeeded` in the animation block.
I know that hidden is not animated, but OAStackView has KVO observation on the subviews, that will remove the view and rearra

[2015-06-21 18:21] tomvanzummeren commented on #10
Well that's no good, is it? The red block disappears immediately. With the real UIStackView, it collapses before it disappears.

On Sun, Jun 21, 2015 at 6:56 PM, Omar Abdelhafith
notifications@github.com wrote:

[2015-06-21 18:37] tomvanzummeren commented on #10
This is what I mean:

![TZStackView hidden animation](https://github.com/tomvanzummeren/TZStackView/raw/master/assets/TZStackView-hide-animation.gif)

I also implemented it with KVO.

[2015-06-21 19:31] nsomar commented on #10
@tomvanzummeren oh, now I see, thanks, I will create an issue for that

[2015-06-21 19:32] tomvanzummeren commented on #10
Oh wow, so I am contributing after all. Happy to help!

[2015-06-21 19:35] nsomar commented on #10
@tomvanzummeren thanks for the help :) I will close this issue and open the another one.

[2015-06-21 19:35] #10 closed

[2015-06-21 19:36] oarrabi opened #11 "Add animation to is hidden"
The current behaviour for hiding looks like the below:
![Alt text](https://cloud.githubusercontent.com/assets/1461052/8272550/c1bec77a-183e-11e5-96f2-137177e6ca3e.gif)

The correct version should look similar to the below.
![Alt text](https://raw.githubusercontent.com/tomvanzummeren/TZStackView/master/assets/TZStackView-hide-animation.gif)

This issue happens since when hiding the view, the correc

[2015-06-21 23:06] steipete commented on #2
There are ways to parse things from the interface builder by reading the undocumented keys from `NSCoder` - we did that in PSTCollectionView as well. It's quite a lot trial and error though. I'd first aim for source code level compatibility before starting that task.

[2015-06-22 16:31] Thomvis opened #12 "OAStackViewAlignmentStrategyCenter does not ensure the stack view is at least as big as the arranged subviews"
OAStackViewAlignmentStrategyCenter only adds a constraint to center the arranged subviews:

[code]

but I'd expect it would also make sure that the stack view is large enough to accomodate all arranged subviews.

If you agree, I'd gladly make a PR for it.

[2015-06-22 18:51] Thomvis commented on #12
Looking a bit further, it seems that the intrinsic content size should cover for this. Not an issue then, probably. Sorry about that, feel free to close this.

[2015-06-22 19:51] izackp opened #13 "Is there a reason why OAStackView needs to use CATransformLayer?"
+ (Class)layerClass {
        return [CATransformLayer class];
    }

Its causing my logs to be spammed with a bunch of warnings:

    <CATransformLayer: 0x7ff94dbe75a0> - changing property opaque in transform-only layer, will have no effect

This happens because when you load OAStackView in a xib file the coder tries to set the opaque property on the layer.

I took the code out and everything wor

[2015-06-23 01:04] nsomar commented on #12
Ok, will be closing this.
Thanks for your time :+1:

[2015-06-23 01:04] #12 closed

[2015-06-23 01:27] jamieQ commented on #13
I believe the motivation is to match the iOS 9 implementation, which uses CATransformLayer. Presumably this is a performance optimization, since the stack view is essentially just a layout container. OAStackView should override `setOpaque:` in addition to `setBackgroundColor:` to be no-ops, as the UIKit version does.

[2015-06-24 18:50] nsomar commented on #2
@steipete Thanks for the info, that is very helpful!, Indeed I still have a couple of loose ends to tie in order to be feature complete. I will definitely checkout PSTCollectionView as a reference on how to do seamless integration with backward compatibility.

Thanks :)

[2015-06-24 20:16] oarrabi opened #16 "Move to constraint based unit testing"
Right now the unit test works by asserting the frames of the arranged views. Checking on the frame might be a brittle way to assert correctness.
In order to be more sure about the correctness, it would be better to move to assert on the constraint that OAStackView generates instead.

In order to address this issue, all the code similar to:

    layoutView(stackView);
    [[theValue(CGRectGetMinX(v

[2015-06-25 12:37] bartvandendriessche commented on #16
Fully agree with this.

Additionally, how do you feel about trying to match the constraints generated by `UIStackView` itself ?

I've been poking around in a playground and inspecting the `UIStackView` generated constraints, and they're somewhat different.

It may be interesting to set up tests that:
1. configure a `UIStackView` according to the settings under test
2. configure a `OAStackView` wit

[2015-06-25 18:10] calebd opened #18 "Add normal framework target so this can be installed outside of CocoaPods."

[2015-06-25 20:54] Thomvis commented on #16
@bartvandendriessche comparing with `UIStackView` would be great! I'm not sure however if checking the constraints is the right level, because `OAStackView` might need different constraints e.g. for backward compatibility. The tests could also compare snapshots of identically set-up `UIStackView`s and `OAStackView`s.

[2015-06-27 01:00] nsomar commented on #16
I think it would be good to have a mix of both of these unit tests. I noticed that having the same frame on different iOS versions might not be possible, as applying the same constraints on iOS7 and iOS8 results in different frames after the layout pass.
I think a decision regarding frame vs constraint must be taken early since it will affect the way the project will be moving forward.

Do you guy

[2015-06-27 01:01] nsomar commented on #13
Hello guys, I will be closing this issue as @garnett updated the lib to silence the log messages (Thanks @garnett  :+1: ).

[2015-06-27 01:01] #13 closed

[2015-06-27 11:34] bartvandendriessche commented on #16
Hmm, do you maybe have an example where the same constraints produce different results on iOS 7 and iOS 8 ?

I mean obviously iOS7 is lacking the baseline and margin oriented NSLayoutAttribute's but for the rest, it seems like constraints should lead to the same outcome.

[2015-06-27 15:30] bartvandendriessche commented on #16
Another question; does it make sense to mimic `NSLayoutGuide`s using invisible `UIView`s ?

Looking at the constraints generated by `UIStackView`, it is clear that the implementation leans heavily on the use of the new `NSLayoutGuide` class.

As mentioned in the "Mysteries of Auto Layout, part 2" WWDC talk (session 219), `NSLayoutGuide` doesn't allow anything new per se, it just does optimises som

[2015-06-27 15:58] harlanhaskins commented on #16
It'd probably be useful, for performance, to make an OALayoutGuide class that's nothing more than a UIView backed with a CATransformLayer

[2015-06-29 23:54] ghost commented on #18
Said another way, [Carthage](https://github.com/Carthage/Carthage) support would be great - at present the repo doesn't have an _xcodeproj_ with a framework target to build from.

[2015-06-29 23:55] ghost commented on #18
And of course I said that before looking at the PRs, @avalanched's #19 adds an _xcodeproj_ with dynamic framework target to do precisely this. :wink:

[2015-06-30 08:47] nsomar commented on #18
@pizthewiz Hey, I just merged pr #19 :+1:
I will be closing this issue, thanks :)

[2015-06-30 08:47] #18 closed

[2015-07-07 17:24] westongpt commented on #11
As a workaround you can add

myStackView.layoutIfNeeded() in your animation block to animate the change.

(This works on iOS 8)

[code]

This will animate the arrangement giving you nice slide animations, the touched view will still disappear instantly, so its only a partial fix.

[2015-07-07 17:26] Thomvis commented on #11
Normally a view that is set to be hidden will hide immediately. So is UIStackView doing some trickery there? Are they perhaps snapshotting the view or something?

[2015-07-07 17:27] westongpt commented on #11
in iOS9, it looks like hidden is an animatable property, but I would have to spike it to confirm. My code above simply animates the arrangement, the view still hides instantly.

[2015-07-07 17:29] Thomvis commented on #11
So that will probably not work pre iOS 9. Snapshotting could be an option, but is a bit hacky. Another way to animate a hiding view is to not set the view hidden, but instead remove it from the arranged views and animate its alpha. (This will need https://github.com/oarrabi/OAStackView/pull/17)

[2015-07-07 17:35] westongpt commented on #11
are we wanting the scale animation? or simply a fade? I think setting alpha alongside hidden should achieve that in iOS 8 wouldn't it?

FYI, the above gif is from TZStackView, not UIStackView, not sure if the scale is in the real thing.

I'd imagine anything we try to do to implement UIStackView in <iOS 9 is going to be hacky :D

[2015-07-08 19:12] Kronusdark opened #23 "Control View Order from IB?"
How is view order controlled in interface builder? I have one view that it just wants to keep sticking at the bottom, not matter what I try.

[2015-07-08 23:32] fbartho commented on #2
@oarrabi I definitely support this issue. Very much desire the PSTCollectionView strategy so we use Apple's implementation on iOS 9. :+1:

[2015-07-15 22:04] ParilShah opened #26 "Unknown Type Name 'NS_ASSUME_NONNULL_BEGIN/END'"
<img width="1392" alt="screen shot 2015-07-16 at 3 35 04 am" src="https://cloud.githubusercontent.com/assets/3435334/8710975/67cc2150-2b6b-11e5-8124-0aa574b21789.png">

[2015-07-15 22:35] nsomar commented on #26
Hey, what version of Xcode are you on?

[2015-07-16 07:27] ParilShah commented on #26
I am using Xcode 6.2

[2015-07-16 16:36] harlanhaskins commented on #26
You need to update to Xcode 6.4.

[2015-07-16 20:16] ParilShah commented on #26
Yes, its working fine with even Xcode 6.3.1. If possible then please specify minimum Xcode version in README file. It helps others.

[2015-07-16 20:16] #26 closed

[2015-07-27 22:47] davidkobilnyk commented on #23
I had this problem too. It seems to follow the order of the views listed in the Document Outline sidebar on the left in IB. Rearranging my views there fixed things for me. Your view sticking to the bottom might need to be dragged up to a different location. (Incidentally, if you're not aware already, this ordering in IB is usually used for determining which view sits in front of another view, if t

[2015-07-28 08:46] wy19901227 opened #29 "hi why it can not support to ios6?"
autolayout is from ios6,so can it support to ios6?

[2015-07-28 08:48] nsomar commented on #29
Hello, I did not really test it on iOS6, I cannot think of a reason why it shouldnt work. I dont have an iOS 6 simulator running at the moment, It would be amazing if some one tries it on iOS6.

[2015-07-28 12:17] coridn opened #30 "0.1.0 - Cocoapod's Version Not Working"
My specific scenario.

    View
    --UISrollView
    ----OAStackView (Constrained on all sides, also constrained to equal width of scrollview)

At runtime, I need to add views to the stack view.
When I add a single view using `[self.stackView addArrangedSubview:view]`, it works adding that single view.

As soon as I try to add a second view programatically, both views disappear, and the constrain

[2015-07-28 12:45] harlanhaskins commented on #30
You've got a constraint on all sides of the UIScrollView? Make sure your bottom constraint is >=0, because a UIScrollView doesn't have a size that AutoLayout can actually make use of.

[2015-07-28 12:47] harlanhaskins commented on #29
Probably shouldn't make any changes to make it compatible, if it's not already. iOS 6 is a fraction of a fraction of market share right now.

[2015-07-28 13:17] coridn commented on #30
@harlanhaskins Doing that causes an ambiguous content height for the scroll view.  I've pasted an image of my constraints.  The height constraint is removed at runtime.  I'm using it to avoid the ambiguous content height warning I still would get by changing the constraint to >= 0.

![screen shot 2015-07-28 at 9 15 07 am](https://cloud.githubusercontent.com/assets/5191060/8932152/2aea59a8-3509-11e

[2015-07-28 13:22] harlanhaskins commented on #30
I'd recommend reading this Apple developer page about using AutoLayout with UIScrollView.

https://developer.apple.com/library/ios/technotes/tn2154/_index.html

[2015-07-28 16:02] bencallis commented on #11
Snapshotting the view may be a sensible approach as if you try and reduce a views width/height constraint to 0 during the animation it may break the views subviews constraints (if it has any) resulting in strange visual defects.

E.g. if a view added to a stack view has multiple subviews which have constraints which stop the view from going less than 20 points wide. If we animate the views width t

[2015-07-28 22:48] nsomar commented on #23
@davidkobilnyk that is correct, the order of the views in the IB is actually reflected in the order of the views in self.subviews.

[2015-07-28 22:48] nsomar commented on #29
@harlanhaskins I totally agree, I think if OAStackView supports iOS6, then its good, otherwise, I dont think we should make any changes to it

[2015-07-28 23:16] nsomar commented on #11
I just reviewed `UIStackView` on iOS 9 Beta 4. I dont think it snapshots the view.

Notice the following gif:
![record](https://cloud.githubusercontent.com/assets/1461052/8946233/bd0c00ca-3586-11e5-9f35-01378b305121.gif)

The constraints added to the grey view are no surprise:
<img width="260" alt="constraints" src="https://cloud.githubusercontent.com/assets/1461052/8946250/de064c5e-3586-11e5-9993

[2015-07-29 12:21] coridn commented on #30
Aside from my apparently scrollview issues (which work regardless), all I'm asking for is an update to the current cocoapods spec.

[2015-07-30 00:49] nsomar commented on #29
I will be closing this issue, since I think we agree on it.

[2015-07-30 00:49] #29 closed

[2015-08-05 14:59] natanrolnik commented on #2
I did the initial part of what @steipete suggested - I created a solution that handles that, but only on code - I called it StackViewProxy. (Any suggestions for a better name?)
I will create a PR soon, but basically, it is a `UIView` that has the stack view (`UIStackView` on iOS 9, `OAStackView` on iOS 8), and passes on to the correct and existing stack view.

[2015-08-05 15:10] harlanhaskins commented on #2
It might be more reliable to use an [`NSProxy`](https://developer.apple.com/library/prerelease/ios/documentation/Cocoa/Reference/Foundation/Classes/NSProxy_Class/index.html) instead.

[2015-08-05 15:32] natanrolnik commented on #2
You are right. But I want it to work like this

`myView.addSubview(stackViewProxy)`

Using the UIView approach, it would work. Can the same be said with the NSProxy approach?

[2015-08-06 17:23] codyrobb opened #33 "UILabel's don't respect incasing view"
So, I've been using OAStackView as a drop back for iOS8/7 users. Overall, it has been really really good, but I keep running into the same problem with labels.

I will describe the situation, both are nearly identical.

1. I have two labels vertically stacked. Alignment is OAStackViewAlignmentLeading, distribution is OAStackViewDistributionFill.
2. This vertical stack view is nested in a horizonta

[2015-08-06 17:26] harlanhaskins commented on #33
Can you post a screenshot?

[2015-08-06 17:27] harlanhaskins commented on #33
With the UIStackView behavior and OAStackView behavior?

[2015-08-06 17:55] codyrobb commented on #33
### UIStackView (iOS 9)

![simulator screen shot aug 6 2015 1 43 11 pm](https://cloud.githubusercontent.com/assets/4520588/9118903/939c3946-3c41-11e5-9391-c730f4ffc5d3.png)

---

### OAStackView (iOS 8.4 & iOS 9)

![ios simulator screen shot aug 6 2015 1 45 40 pm](https://cloud.githubusercontent.com/assets/4520588/9118911/a324836e-3c41-11e5-8171-681f16a395f3.png)

---

I also double checked OAStac

[2015-08-06 18:04] codyrobb commented on #33
I just realized the title of this issue isn't the best description, but I'm not sure what to call it. Feel free to do something about that. :joy:

[2015-08-07 09:21] dubiao opened #34 "Dose OAStackView avoid user interaction?"
I use OAStackView on my menu view. It shows greatly. But my menu items dose not response to my tap
my code :

And I am sure that I added UITapGestureRecognizer to my items

And my items'  ` item.userInteractionEnabled = true`

I use UIView instead of OAStackView it's tappable.

[2015-08-08 16:44] nsomar commented on #34
Hey, I am not aware of such a problem.
Could you please share more info, it would be great if you can supply a very small snippet (or project) that I could run. Thanks

[2015-08-08 19:36] nsomar commented on #23
I will be closing this issue. Please reopen it if there are still concerns about it.

[2015-08-08 19:36] #23 closed

[2015-08-11 23:17] nobre84 opened #36 "Support IBDesignable"
Would it be possible to support it? I played a bit with the code but I didn't understand enough of the inner workings to get something useful. How the subviews are added as arrangedViews and get their constraints created? Would IB correctly adapt to this and update the child frames?

[2015-08-12 03:21] komocode opened #37 "Added constant leading/header and trailing/footer padding space?"
I would like some padding at the top of the OAStackView before the first view is laid out and space after the last view is laid out. Is it possible to add IBInspectables for them?

[2015-08-12 04:11] harlanhaskins commented on #37
You can use layoutMarginsRelativeAlignment. Just set stackView.layoutMarginsRelativeAlignment to true and set `stackView.layoutMargins` to `UIEdgeInsets(top: <value>, left: 0, bottom: <value>, right: 0)`

[2015-08-12 18:45] shwetsolanki opened #38 "What is the best way to use OAStackView in UITableViewCell with Dynamic Cell Sizing"
I am working on a app which have components similar to Facebook Feed, there is User detail, Images, Like & Comment button, Polls etc. Apart from user detail everything is optional. I am using Dynamic cell sizing along with OAStackView and its working good when I am scrolling down. But once I reach the bottom and then scroll up, the scrolling is bit glitchy.

Let me explain you what my cell contain

[2015-08-12 18:46] harlanhaskins commented on #38
That's a very well-known quirk with UITableViewCell automatic sizing in iOS 8, and not related to OAStackView. http://stackoverflow.com/questions/27996438/jerky-scrolling-after-updating-uitableviewcell-in-place-with-uitableviewautomati

[2015-08-15 00:07] mthole-old commented on #2
How about just using `@compatibility_alias`? See http://nshipster.com/at-compiler-directives/

[2015-08-15 00:32] harlanhaskins commented on #2
Another vote here for `@compatibility_alias`

[2015-08-16 12:03] natanrolnik commented on #2
Indeed that's great! Thanks for the suggestion, I wasn't aware about it, @mthole and @harlanhaskins

[2015-08-17 15:46] mthole-old commented on #38
Suggest closing this issue.

[2015-08-17 15:49] mthole-old commented on #11
@oarrabi Do you have any updated thoughts on the direction here?

[2015-08-17 15:53] nsomar commented on #38
@mthole Yep, I will close it now!

[2015-08-17 15:53] #38 closed

[2015-08-18 07:52] wy19901227 commented on #29
I have many ios6 iphone，the demo  doesn't wort well .  It will crash when tap some btton

[2015-08-18 20:15] mthole-old commented on #30
I ran into this exact same problem today using the Pod-installed v0.1.0 of OAStackView. Updating to master by manually specifying the git repo in my Podfile fixed it.

+1 to publishing a new spec with the latest (cc: @oarrabi)

[2015-08-20 05:22] chika-kasymov opened #39 "addArrangedSubview doesn't increase OAStackView height properly"
Hello!

I added OAStackView to UIScrollView with IB. UIScrollView has leading, trailing, top and bottom constraints to superview (just UIView of VC). OAStackView also has same constraints, but according to UIScrollView. And in addition OAStackView has same width as UIView (superview of UIScrollView).

In the beginning all views on OAStackView have right sizes and positions as I set. But when I try

[2015-08-20 11:21] chika-kasymov commented on #39
I solved this issue. It was not a bug. When adding new UIView to OAStackView or UIStackView you have to specify view's height or width constraint with Auto Layout depending on axis.

[2015-08-20 11:22] #39 closed

[2015-08-20 16:58] calebd opened #40 "Center Aligned View Width"
Center aligned views are allowed to be wider than the stack view. It would be great if stack view added a width constraint to views such that they may not be wider than the stack view itself.

Also it would be cool if we can get another tagged, stable release!

[2015-08-21 04:06] chika-kasymov opened #41 "OAStackView arrangedSubviews always return 0"
Hi!

**OAStackView** array *arrangedSubviews* is always empty. Therefore when I try to `insertArrangedSubview:
atIndex:` the app crashes. I can add view only by using `addArrangedSubview`.

[2015-08-23 00:51] mthole-old commented on #41
FWIW, https://github.com/oarrabi/OAStackView/pull/17 will hopefully fix this issue.

As a workaround, you may be able to inspect the stack view's `subviews` property to decide which index to insert at. No guarantees on that, though -- I've not tried personally.

[2015-08-23 00:51] mthole-old commented on #40
@calebd Can you confirm that UIStackView on iOS 9 has the behavior your describe/desire?

[2015-08-23 04:40] #41 closed

[2015-08-24 14:40] bencallis opened #42 "New CocoaPod version"
Would it be possible to release a new CocoaPod version which includes the latest fixes (mainly layout margin support)?

[2015-08-24 20:00] calebd commented on #40
#42

[2015-08-24 20:04] calebd commented on #40
`UIStackView` does not let center aligned views go wider than the stack view itself. Why would it allow that?

A quick test: Put a multi line label with a lot of text in a width-constrained, center-aligned stack view. Notice that the stack view height grows while restricting the label to its width.

[2015-08-24 20:42] mthole-old commented on #42
+1. For now, I've just got my app's Podfile set up like so:
`pod 'OAStackView', :git => 'https://github.com/oarrabi/OAStackView.git'`

[2015-08-24 21:45] nsomar commented on #42
I am working on this. I will try to update the version in the upcoming days.

[2015-08-25 09:05] bencallis commented on #42
Thanks :+1:

[2015-08-30 03:50] Ataman11 opened #43 "arrangedSubviews property is always nil"
Firstly, great work on the UIStackView port!
I am trying to access the arrangedSubviews property and it seems to always be nil.
Is it something that is not yet implemented?

[2015-08-30 14:38] fatuhoku opened #44 "Example use in UIScrollView"
It would be great if this project would demonstrate how you could dynamically add more subviews and cause the OAStackView to grow.

[2015-08-30 22:34] christophercotton commented on #37
@harlanhaskins Except `layoutMargins` is iOS8 only.

[2015-08-30 22:51] harlanhaskins commented on #37
Not with OAStackView. OAStackView adds the property for iOS 7 compatibility.

[2015-08-31 02:27] christophercotton commented on #37
@harlanhaskins Ah nice! It isn't in the released version of the pod I've been using, but I see the commits. Thanks.

[2015-09-01 20:14] Lipe991 commented on #44
Yes please  provide some example

[2015-09-01 20:29] stallent opened #45 "issue with size classes..."
When i use OAStackView in a universal nib/storyboard it works great, but if i add any views anywhere (related to stackView or not) that are only installed in certain size classes, OAStackView won't render properly.  Anyone else seen this and/or have a workaround?

[2015-09-02 09:44] bencallis commented on #42
Any update?

[2015-09-02 14:12] stallent commented on #45
if i implement traitCollectionDidChange: in OAStackView and then call layoutArrangedViews it seems to fix the issue

[2015-09-02 20:30] GavinDBrown opened #46 "Add descriptive names to values in IB"
OAStackView:
![screen shot 2015-09-02 at 1 27 53 pm](https://cloud.githubusercontent.com/assets/5473682/9643379/71f0f2f6-5176-11e5-9c54-ee3572a4c364.png)

StackView:
<img width="604" alt="screen shot 2015-09-02 at 1 28 35 pm" src="https://cloud.githubusercontent.com/assets/5473682/9643394/8f624326-5176-11e5-9a70-20cc5f478f9f.png">

In OAStackView its unclear what an axis value of a number means.

[2015-09-03 16:25] bencallis commented on #46
As far as I know this can not be done with IBInspectable.

[2015-09-03 16:27] bencallis commented on #44
Why not just embedded the StackView in a scrollview (providing you get your constraints correct) it will just work.

[2015-09-08 01:30] j796160836 opened #47 "Warning: Failed to set (axisValue) user defined inspected property"
I receive this error log during use OAStackView
[code]

It looks like the layout problem. How can I fix it?
I had opened both autolayout and size class

[2015-09-08 06:30] skagedal opened #48 "Can not create OAStackView programmatically"
The following simple View Controller works perfectly with an UIStackView, and creates a red box on top of a green box:

    - (void)viewDidLoad {
        self.edgesForExtendedLayout = UIRectEdgeNone;

        OAStackView *stackView = [OAStackView new];
        stackView.translatesAutoresizingMaskIntoConstraints = NO;
        stackView.backgroundColor = [UIColor blackColor];
        [self.view addS

[2015-09-12 08:30] j796160836 commented on #47
I found the answers. It's not the OAStackView's fault. Just a pure autolayout issues.

[2015-09-12 08:30] #47 closed

[2015-09-17 08:39] wy19901227 opened #50 "how to set OAStackView's subviews's spacing ?"

[2015-09-17 08:59] delebedev commented on #50
There is `@property(nonatomic) IBInspectable CGFloat spacing;` property for this

[2015-09-17 09:09] delebedev commented on #46
@bencallis is right, currently it is not possible.

[2015-09-17 09:09] #46 closed

[2015-09-17 09:35] wy19901227 commented on #50
I want to set the first view to the secondView's spacing .not the the stackView's spacing . what I mean can I set the subView's spacing not equal?

[2015-09-18 10:19] delebedev commented on #48
@skagedal I've tried your snippet and it works for me as expected, can you try it again using HEAD version?
`pod 'OAStackView', :head`

[2015-09-18 10:21] delebedev commented on #50
@wy19901227 it is not possible with `UIStackView` (and `OAStackView`) view itself.
However, you can set spacing to 0 and insert container views with specific height between your views:

| your view |
| --- |
| container with height 10 |
| your second view |
| container with height 20 |

etc.

[2015-09-18 10:24] delebedev commented on #44
@Lipe991, @bencallis is right: stackview can be placed in scroll view as any other view with valid intrinsic content size (height in particular). Please refer to apple tech note: https://developer.apple.com/library/ios/technotes/tn2154/_index.html

[2015-09-18 10:24] #44 closed

[2015-09-18 11:34] wy19901227 commented on #50
UIStackview can not .but I think you can make it possible.Do you think it need?

发自我的 iPhone

[2015-09-18 11:47] delebedev commented on #50
Unfortunately no, because the idea behind `OAStackView` is to exactly replicate `UIStackView`

[2015-09-21 09:56] garnett opened #51 "iOS9: UIStackView is horizontal by default, OAStackView is vertical"
Looks like breaking change, but if we want smooth transition from OA to UI version they should be the same.

[2015-09-21 09:57] wy19901227 opened #52 "build in xcode7"
![e7a601d5-fc34-4939-a921-d35c8f8da398](https://cloud.githubusercontent.com/assets/8086633/9989338/28aa0808-608a-11e5-9854-89d55b6edf13.png)

[2015-09-21 13:27] delebedev commented on #52
builds for me without any issues Are you using cocoapods/cartage for integration?

[2015-09-22 23:53] fbeeper opened #53 "Height based on intrinsic content size"
When I add arranged subviews to a height-unconstrained UIStackView (configured with axis UILayoutConstraintAxisVertical and distribution UIStackViewDistributionFill) they respect intrinsic content size's height to define their height in this container, and the container fits all the views + spacings:

![OAStackView](https://cloud.githubusercontent.com/assets/627312/10034873/81e4829e-6149-11e5-9648

[2015-09-23 00:00] fbeeper commented on #53
Oh wait...
pod 'OAStackView', :head
solves the issue :smile:

[2015-09-23 00:06] #53 closed

[2015-09-23 10:12] delebedev commented on #30
@oarrabi is AFK for a couple of weeks. I've added 0.2.0 tag, so you can refer to it in the meantime.

@oarrabi please add me as a maintainer to pods repo as well when you have a chance:

[code]

[2015-09-23 10:17] delebedev commented on #42
as per my comment here: https://github.com/oarrabi/OAStackView/issues/30
new tag is 0.2.0, podspec currently waits to be pushed by maintainer

[2015-09-24 09:00] delebedev commented on #40
@calebd can you please check 0.2.0 tag, it works the same way as OAStackView for me (tried to reproduce your setup:

[code]

[2015-09-24 21:28] delebedev commented on #45
@stallent can you provide small example project for this case, please?

[2015-09-24 21:28] delebedev commented on #37
@christophercotton try out 0.2.0 tag (still no new cocoapod version though)

[2015-09-24 21:28] #37 closed

[2015-09-25 07:01] wy19901227 commented on #52
I download your demo.

[2015-09-25 08:29] delebedev commented on #52
@wy19901227 it works for me, did you run `pod install` inside example project folder?

[2015-09-25 15:09] stallent commented on #45
No need. It reproduces in the example project. Simply select the StackView in the main storyboard and add a size class to it (Regular,Regular for example). You will notice the initial rendering is incorrect. Once you click buttons it fixes itself but the issue is layoutArrangedViews never gets called once you add a size class to the view in the nib.

[2015-09-28 15:32] delebedev commented on #45
@stallent I've added size class and it looks fine for me. Can you please if the issue still exists in 0.2.0 tag?

[2015-09-28 15:43] stallent commented on #45
Just tried. Still there.  Steps to reproduce... Open example.  Select the stackView instance in the storyboard and add this:

![screen shot 2015-09-28 at 10 37 12 am](https://cloud.githubusercontent.com/assets/310778/10140443/1b4ada00-65cd-11e5-80d6-5f2934bfcbb6.png)

Run in simulator and initial rendering becomes this: (which isn't correct)

<img width="503" alt="screen shot 2015-09-28 at 10 36 5

[2015-09-28 16:12] delebedev commented on #45
@stallent thanks a lot for this, now I'm finally managed to reproduce it

[2015-09-28 16:20] #45 closed

[2015-09-28 16:21] delebedev commented on #45
@stallent fixed now :+1:

[2015-09-28 16:57] stallent commented on #45
Thank you!  Looks great!

[2015-09-29 16:28] phatmann commented on #42
@mthole, why not just use the `:head` option in your Podfile?

[code]

[2015-09-29 19:04] phatmann opened #55 "Does not support arrangedSubviews"
In my case I have a subview I do not want to arrange, but this is not possible with the current implementation.

[2015-09-29 22:16] mthole-old commented on #42
@phatmann I think that'd do the same thing. :+1:

[2015-09-30 07:32] delebedev commented on #55
@phatmann can you please explain why it is not possible?
if you add view with `addSubview:` it is not going to be arranged

[2015-09-30 16:20] phatmann commented on #55
Now I see: if I add a subview after initialization is done it will not be laid out. Thanks for the clarification.

[2015-09-30 16:20] #55 closed

[2015-10-05 06:38] fabb commented on #33
Have you found a solution for the issue?

[2015-10-05 14:25] oliverfoggin opened #57 "Any chance of a translation from axis to axisValue (et al)."
Currently in IB you have to set axisValue and so on.

Except there is nothing anything that tells you what the values actually are.

It would take 5 mins to add documentation to these values.

Thanks

[2015-10-05 14:27] delebedev commented on #57
@oliverfoggin you are right, it is pretty easy addition. Can you make PR please? :smiley:

[2015-10-05 14:32] oliverfoggin opened #58 "Intrinsic Content Size doesn't seem to be set anywhere?"
With UIStackView you can pin a stack view to the bottom, leading, and trailing constraints of the superview and the height will be set by the intrinsic content size of the contents.

Put three labels in and change the fonts and text etc... and the UIStackView will resize to fit them in properly.

OAStackView first throws an error in IB saying it needs the 4th constraint and then at run time it wil

[2015-10-05 15:00] #58 closed

[2015-10-05 15:00] oliverfoggin commented on #58
This is actually an issue with nested OAStackviews in IB.

[2015-10-06 08:29] delebedev commented on #33
sorry @fabb, not yet. I'm going to work on this as a first thing soon

[2015-10-06 12:11] Grubas7 commented on #11
@mthole It's easy thing to do. StackView just needs to register KVO for `hidden` property in arranged views. After notification stackView needs to call `-layoutIfNeeded` in animationBlock and everything should work like UIStackView.
I could make PR for this.

[2015-10-06 15:45] fabb commented on #33
I ended up using TZStackView which works as expected.
https://github.com/tomvanzummeren/TZStackView

[2015-10-06 21:23] nsomar commented on #30
I am really sorry for being this late, @garnett I have added you as an owner to the pod.

[2015-10-08 15:30] anivaros commented on #42
@phatmann :head not working for me -- installs "Head based on 0.1.0" version

[2015-10-08 15:47] phatmann commented on #42
That is a confusing message. It shows whatever version is in the current Podspec file, which is still "0.1.0". But the option is working for you.

[2015-10-09 08:08] ULazdins opened #59 "Appending elements to an empty OAStackView looses top constraint"
Consider this example:

[code]

As a result of this code the OAStackView has lost constraint between self and first subview.

As far as I understand, the part responsible for this is in OAStackView.h:198
[code]
When adding second subview, it removes constraints from the first subview, including OAStackView-to-first-subview constraints and never sets them back.

[2015-10-13 17:19] chipsnyder commented on #42
Any update on when 0.2.0 will be pushed to cocoapods?

[2015-10-13 17:28] delebedev commented on #42
@chipsnyder just pushed, please check if 0.2.0 works for you

[2015-10-14 09:19] #42 closed

[2015-10-14 18:06] m1entus commented on #59
This was fixed in 0.2.0 !

[2015-10-15 09:01] m1entus commented on #2
I made a better way to maintain this, using runtime injection for <iOS9, this allow you to maintain OAStackView as normal UIStackView on storyboard, reference https://github.com/oarrabi/OAStackView/pull/60

[2015-10-15 22:16] #59 closed

[2015-10-16 11:01] shiratsu opened #61 "OAStackView is very slow."
I would like to use OAStackView.
I am creating such an attaching view.
I am checking on simulator.
But it is very slow.
To open this view takes around 8 seconds.
According to my investigating,,,to use several module(uiview,uilabel and uiimageview) take a long time such a 8 seconds.

are there way how to solve it?
![2015-10-16 19 56 05](https://cloud.githubusercontent.com/assets/918490/10540179/aba

[2015-10-16 13:08] delebedev commented on #61
Can you please attach time profiler screenshot showing what exactly is "slow"? View inspector screenshot with view hierarchy might also help

[2015-10-16 23:34] pocketpixels opened #62 "Un-hiding with equal spacing strategy is broken"
I ran into this in our production project, but it is possible to reproduce the issue in the example app as well:

1) Launch example app in Debug mode
2) Tap "Distribution Equal Spacing"
3) Tap on middle view (view 2) to hide it.
4) Tap on "Show all"

[2015-10-17 05:58] shiratsu commented on #61
Sure.I wonder you could check the following log

[code]

It took 9 seconds from 'loadview' to 'viewDidLoad'.
I also attached hierarchy.

<img width="1189" alt="2015-10-17 14 53 38" src="https://cloud.githubusercontent.com/assets/918490/10557262/79cf1c46-74df-11e5-891f-18414e936a40.png">

[2015-10-17 09:07] shiratsu commented on #61
I have updated program.
I attached hierarchy again.
I am using 3 oastackview.
<img width="1385" alt="2015-10-17 18 06 13" src="https://cloud.githubusercontent.com/assets/918490/10557950/fbba9810-74f9-11e5-9a3a-b61f73469fb4.png">

[2015-10-20 16:00] bencallis commented on #61
Have you profiled it in instruments using the time profiler?

[2015-10-20 22:31] shiratsu commented on #61
Oh,I see.I have not used the time profiler at this time.So I will try it.

[2015-11-05 10:37] niklassaers opened #63 "Subviews don't animate when axis changes"
Hi,
I've made a little project with a UIStackView where the axis are animated from horizontal to vertical. It's here: https://www.dropbox.com/s/qcjjhx8p8y8xs2f/testStackViewAnimation-UIStackView.zip?dl=0

Then I made it use OAStackView instead: https://www.dropbox.com/s/kkzfjtc8agqh7u7/testStackViewAnimation-OAStackView.zip?dl=0 . I would have liked to change the class in IB from UIStackView to OA

[2015-11-17 11:22] neilbilly commented on #57
@oliverfoggin @garnett: I was just trying to use OAStack today and got stuck on this (http://stackoverflow.com/q/33752916/632735?sem=2); what are the acceptable values for the axis?

[2015-11-17 11:43] delebedev commented on #57
@neilbilly since IB does not really support "enums" as IBInspectable properties, you have to set 0 or 1 in `axisValue` in IB.

[2015-11-17 12:56] neilbilly commented on #57
Ah right, got it! Thanks @garnett  :+1: :smile:

[2015-11-20 14:52] luohui8891 commented on #47
@j796160836 can you help to explain the reason? I think I got the same issue.

[2015-11-24 22:23] ZevEisenberg opened #65 "NSMutableArray should not be declared as copy"
See here: https://github.com/oarrabi/OAStackView/blob/3569aad354210064de99a2f401ad9167fd358eba/Pod/Classes/OAStackView.m#L18

[code]

In the code, this is only ever assigned via `_mutableArrangedSubviews`, so it doesn't cause problems. But if it is ever assigned via dot syntax, it will be assigned via a synthesized setter that looks something like this:

[code]

`_mutableArrangedSubviews` is now o

[2015-11-24 22:56] nsomar commented on #52
@wy19901227 I am closing this issue since there have been no feedback from your side.
Please feel free to reopen it if the issue persists.

[2015-11-24 22:56] #52 closed

[2015-11-24 22:58] nsomar commented on #61
@shiratsu any update on this?

[2015-11-24 22:59] nsomar commented on #30
Closing this issue since it has been solved

[2015-11-24 22:59] #30 closed

[2015-11-24 23:00] nsomar commented on #40
@calebd  I am closing this issue since there have been no feedback from your side.
Please feel free to reopen it if the issue persists.

[2015-11-24 23:00] #40 closed

[2015-11-24 23:01] nsomar commented on #48
@skagedal  I am closing this issue since there have been no feedback from your side.
Please feel free to reopen it if the issue persists.

[2015-11-24 23:01] #48 closed

[2015-11-24 23:02] nsomar commented on #50
I will be closing this issue as its not compatible with UIStackView. Sorry for that but I don't think we should diverge from UIStackView behaviour.

[2015-11-24 23:02] #50 closed

[2015-11-24 23:03] nsomar commented on #62
@pocketpixels I am able to reproduce this, on a quick glance, I think the issue is with the current implementation of layout guides. I will be spending more time on this over the coming days.

[2015-11-24 23:04] nsomar commented on #57
Will be closing this as there isn't a clear solution for now.

[2015-11-24 23:04] #57 closed

[2015-11-24 23:07] nsomar commented on #65
I agree with your fix, can you please submit a PR with this fix?

[2015-11-24 23:07] nsomar commented on #65
Sorry I didn't see the PR, I am viewing it now.

[2015-11-24 23:08] #65 closed

[2015-11-24 23:09] nsomar commented on #34
@dubiao  I am closing this issue since there have been no feedback from your side.
Please feel free to reopen it if the issue persists.

[2015-11-24 23:09] #34 closed

[2015-11-24 23:09] nsomar commented on #43
I think https://github.com/oarrabi/OAStackView/pull/56, which was just merged, solves this issue, Will be closing it now.

[2015-11-24 23:09] #43 closed

[2015-11-24 23:11] nsomar commented on #11
@mthole sorry for the very late answer. No I still don't have a clear solution here. would appreciate any help at the moment.

[2015-11-24 23:13] nsomar commented on #36
I think this is possible, but it would require some work. I will be playing around this in the coming days.

[2015-11-24 23:13] nsomar commented on #63
Sorry for the late reply, I will be trying this out soon. Thanks for the patience :)

[2015-11-25 09:10] niklassaers commented on #63
No worries, thanks for having a look at it :-)

[2015-11-25 09:19] shiratsu commented on #61
Sorry,please wait.I will post result within end of this year.

[2015-11-26 11:55] adamrushy opened #67 "Crash on multiple cells with a OAStackView on"
We are dynamically building a tableview which can have 100+ rows, each cell has a OAStackView, if we have a few and start scrolling quickly, the crash happens in OAStackView, it has not stack trace so hard to debug;

-[NSISRestrictedToNonNegativeVariableToBeMinimized]: unrecognized selector sent to instance 0x100528ba0

[2015-11-27 09:36] Katafalkas opened #68 "UIStackView and OAStackView as a single class"
Hey. This is not bug nor it is an issue. Rather a question someone in this project could answer.

Is there a way of creating a subclass that would use UIStackView or OAStackView as a superclass depending on ios version ?

simething like that ? (this does not work)
[code]

[2015-11-27 17:23] harlanhaskins commented on #68
Swift's type system won't let you do this. The compiler can't guarantee that UIStackView and OAStackView are isomorphic, and there's no facility for ensuring it anyway.

[2015-11-29 12:27] dimohamdy opened #69 "last pod errors"
❌  /Users/greenhouse/tmpM4MB54/Pods/OAStackView/Pod/Classes/OAStackView.h:87:53: expected '>'
@property(nonatomic,readonly,copy) NSArray<__kindof UIView *> *arrangedSubviews;
❌  /Users/greenhouse/tmpM4MB54/Pods/OAStackView/Pod/Classes/OAStackView.h:87:53: interface type cannot be statically allocated
@property(nonatomic,readonly,copy) NSArray<__kindof UIView *> *arrangedSubviews;

[2015-11-29 14:56] nsomar commented on #69
What version of Xcode are you using? at the moment since OAStackView is using generics then Xcode 7 is required.

[2015-11-29 15:04] dimohamdy commented on #69
xcode 6.4 can i get old version

[2015-11-30 09:20] dimohamdy commented on #69
i fix it by
pod 'OAStackView', :git => 'https://github.com/oarrabi/OAStackView.git', :commit => 'a49dc63'

[2015-11-30 09:21] #69 closed

[2015-11-30 19:06] #67 closed

[2015-12-07 03:23] ghost commented on #51
Any update on this?
Still noticing it remains the same.

[2015-12-08 03:16] shiratsu commented on #61
I'm sorry for very late replying.
I have checked it.
On iOS8,xcode 7.1,Swift 2.1 Custom UIView is very slow.

My custom view and also OAStackView are slow.
'initWithCoder method' is very slow.
I attached capture of time profiler.
![2015-12-08 12 16 05](https://cloud.githubusercontent.com/assets/918490/11646870/7e4e4492-9da5-11e5-808c-b67baf93d84a.png)

[2015-12-08 04:03] shiratsu commented on #61
I attached another capture.
![2015-12-08 13 02 44](https://cloud.githubusercontent.com/assets/918490/11647483/0a45cafa-9dac-11e5-9d0d-b5696c3bbded.png)

[2015-12-08 06:32] shiratsu commented on #61
I might get answer.
In iOS8-Xcode7,I am using 'HiraginoSans' as custom font.
But this font name is not available on iOS8.
It is from iOS9.
So,My application have taken  a much time for downloading above font.

I'm sorry.Maybe,OAStackView does not have relation about slow loading.

[2015-12-21 11:14] nerdycat opened #71 "Something different between OAStackView and UIStackView"
- (void)viewDidLoad {
    [super viewDidLoad];

    UILabel *label1 = [UILabel new];
    UILabel *label2 = [UILabel new];
    label1.text = @"Some long text!!!";
    label2.text = @"ABC";

    OAStackView *sv = [[OAStackView alloc] initWithArrangedSubviews:@[label1, label2]];
    sv.translatesAutoresizingMaskIntoConstraints = NO;
    sv.axis = UILayoutConstraintAxisHorizontal;
    sv.alignment = O

[2016-01-06 04:34] zlanchun opened #72 "Sequence error in layout subviews by using OAStackView"
In storyboard I put a view of OAStackView, and drag 3 Labels into this view.
I want the sequence is [Label1 Label2 Label3], but when I running this demo, the sequence is different. It becoming [Label2 Label3 Label1]. Someone can help me?

Stack View set:
Axis value: 1
spacing: 10
Alignment Value: 4
Distribution Value: 3
like this:
![snip20160106_1](https://cloud.githubusercontent.com/assets/156478

[2016-01-06 17:29] m1entus opened #73 "Bump a version from master to 0.3.0"
Please bump a pod spec version to newest one.

[2016-01-07 16:59] delebedev commented on #73
Hi @m1entus, there is at least two interesting PRs hanging, I hope me and @oarrabi will review and merge them and release new version after that.

[2016-01-07 17:01] delebedev commented on #51
@oarrabi need your input here, issue is really straightforward but will require Major version bump since it will break all the apps

[2016-01-07 17:02] harlanhaskins commented on #51
I really don't like changing the default axis. But we have to.

[2016-01-07 17:03] delebedev commented on #51
@harlanhaskins thanks for your input, looks like good change for 1.0 release! :trollface:

[2016-01-09 09:57] delebedev commented on #73
@m1entus 0.3.0 is live (it does not include your PR, I'm making final preparations to release 1.0.0 version since it would have minor but breaking change https://github.com/oarrabi/OAStackView/issues/51

[2016-01-09 09:58] garnett opened #74 "Update README to reflect usage of UIStackView in xib for iOS < 9"
Just note to self

[2016-01-09 09:58] #73 closed

[2016-01-09 10:19] delebedev commented on #51
Fixed in `1.0.0` version

[2016-01-09 10:19] #51 closed

[2016-01-15 17:42] codepleaser opened #76 "Framework not found!"
I'm getting a "framework not found OAStackView" error while building. I'm using XCode Version 7.0.1 (7A1001). Please help!

![screen shot 2016-01-15 at 11 08 57 pm](https://cloud.githubusercontent.com/assets/15208376/12360272/02f4b3b6-bbdd-11e5-9102-68be0b6f1127.png)

[2016-01-15 23:41] danielborges93 commented on #76
@codepleaser Take a look how Cocoapods works: https://cocoapods.org (tab "GET STARTED").

[2016-01-20 22:16] Pretz commented on #72
@zlanchun `OAStackView` orders views in the order they are placed in their superview, not based on x-y coordinates. Make sure your views are ordered correctly in the outline view of interface builder: ![outline view](https://developer.apple.com/library/tvos/documentation/ToolsLanguages/Conceptual/Xcode_Overview/Art/OutlineView_2x.png)

You can drag the subviews in the outline to order them as desi

[2016-01-29 00:18] mojtabacazi opened #78 "`arrangedSubviews` is not behaving as expected."
From [Apple's doc](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIStackView_Class_Reference/#//apple_ref/occ/instp/UIStackView/arrangedSubviews):

[2016-02-02 12:34] yismo opened #79 "Interacting with a stackView created in Storyboard in code crashes"
I have an OAStackView that I created in my storyboard. In storyboard, I set the class to OAStackView, and set its constraints. I made an IBOutlet to this stackView in my code. In my code, when I try to edit any attributes of the stackView, like the `distribution`, or adding another view, the app crashes and gives me the following error:

`-[UIView setDistribution:]: unrecognized selector sent to i

[2016-02-03 10:55] zhorkov023 commented on #79
Try to delete Module at Custom Class for OAStackView in InterfaceBuilder.

[2016-02-12 02:32] #61 closed

[2016-02-19 15:21] coridn commented on #51
As an FYI, the header for OAStackView still says the default is Vertical.

Through me for a loop when I upgraded my pods and none of my views worked anymore.  May want to consider updating that as well.

[2016-02-21 06:24] delebedev commented on #51
@coridn nice catch, fixed here https://github.com/oarrabi/OAStackView/commit/c606348cbf7f4dc40f87e841462504cc0c4e6cb1

[2016-02-24 08:12] mindz-eye commented on #2
Runtime injection doesn't work for me for some reason.
[[UIStackView alloc] init] returns nil, while objc_getClass("UIStackView") returnes a valid class.
iOS 8.3

[2016-02-24 08:18] m1entus commented on #2
For UIStackView alloc] init you would need asm instruction to swich UIStackView symbols like here: https://github.com/forkingdog/FDStackView/blob/master/FDStackView/FDStackView.m#L240 which authors didn't want to include. UIStackView works from storyboard fine.

[2016-02-24 08:22] mindz-eye commented on #2
I see. Thanks!

[2016-02-24 21:03] fbartho commented on #2
@mindz-eye If you're not interested in ASM instructions: you could probably pull in the relevant file from this PR for your UIStackView https://github.com/tomvanzummeren/TZStackView/pull/61. It uses a preprocessor trick rather than assembly to make Objective-C work seamlessly. -- Doesn't work for Interface Builder.

[2016-02-25 07:40] AgentFeeble opened #81 "Layout Margins set in Interface Builder no respected"
When an OAStackView is instantiated from Interface Builder, the ```-commonInitWithInitalSubviews:``` method overrides the layout margins set.

[2016-02-25 20:48] primehalo opened #82 "Documentaton for Alignment and Distribution Values"
Would it be possible to add documentation for what the Alignment and Distribution Values mean? The readme file notes the meaning of the Axis value (0 for Horizontal, 1 for Vertical) but doesn't specify anything about the Alignment or Distribution values.

[2016-02-26 02:11] samus commented on #72
I've also seen in Xcode 7.2 at least that the ordering showing in the sidebar isn't always reflective of the order they are added at runtime.  Rearranging the views in the sidebar and then putting them back to the correct order has fixed the problem for me.  I don't know if other versions have this problem or not.

[2016-02-26 10:25] zeusent opened #83 "Crash when adding a new arranged subview"
So, first of all let me say thank you! This little fallback solution for UIStackView is awesome.

I've been trying to use it but I do have a problem. I create my OAStackView in Interface Builder where I pre-populate it with some subviews. But then, in code I want to add some more views and I thought that the method `insertArrangedSubview:atIndex` is what I need.

The problem is that when I do that

[2016-02-26 10:31] zeusent commented on #83
Ok, I found a quick fix. It seems that adding these lines:

[code]

in `initWithCoder:` will fix my issue. So here's my complete implementation of that method:

[code]

[2016-02-27 05:08] Darthpwner opened #84 "Constraints added to Stack View are not working properly."
Constraints added to Stack View are not working properly.

[2016-02-27 08:23] Darthpwner commented on #82
I agree, it is not helpful at all without this information. Also, iOS 9 Stack Views preserve alignment automatically when you drag new elements in. It appears this repo does not have this feature implemented.

[2016-02-27 08:43] Darthpwner commented on #74
Can you make make the documentation more thorough for those who want to incorporate this repo into their own projects?

[2016-03-09 22:52] intonarumori opened #85 "Include of non-modular header inside framework module"
I have a pod that has OAStackView as a dependency here: https://github.com/intonarumori/RMAlertController

I have a Swift project that uses this pod with a Podfile like this:
[code]
After `pod install` or `pod update` I have the following compilation warnings:
`Include of non-modular header inside framework module 'OAStackView.OAStackView_Constraint'`

The only way I was able to fix this was by ch

[2016-03-10 00:18] intonarumori commented on #85
More information about the issue can be found here:
https://github.com/CocoaPods/CocoaPods/issues/4420

It seems most libraries removed the angular imports.
Ex. https://github.com/Mantle/Mantle/issues/626

[2016-03-10 07:36] intonarumori commented on #85
Following the practice of other open source libraries I fixed the imports in this PR https://github.com/oarrabi/OAStackView/pull/86

[2016-03-10 10:34] delebedev commented on #85
Thanks @intonarumori, looks like it works fine for my obj-c project too.

[2016-03-10 10:34] #85 closed

[2016-04-01 19:13] delebedev commented on #83
It looks like regression caused by my fix of KVO: https://github.com/oarrabi/OAStackView/commit/fb7d74110aee1de8b6780ddf91428b3eaced1753

:( no idea how to solve your issue correctly at the moment

[2016-04-12 18:36] panupan commented on #11
Another bug I noticed is that if a subview starts out hidden and you try to unhide it with animation, it flies in offscreen.

[2016-05-07 18:06] krider2010 commented on #84
This only happens if you add the subviews in the wrong order, and they have constraints (in my case in a storyboard). This is user error in my view. I solved my problem by ensuring the stack views were added by the storyboard in the order they should be displayed (if visible).

[2016-05-14 13:20] ilendemli opened #90 "Importing file error/Can't build Objective-C module"
The extensions are using `#import <OAStackView/OAStackView.h>` to import the header files which causes an error while compiling, change all 3 extensions to use `#import "OAStackView.h"` to fix the issue.

[2016-05-23 11:20] wowbroforce commented on #90
I had the same issue only with this pod after updating to cocoapods 1.0. Deleting derived data solved it without changing extensions

[2016-06-09 22:25] jjulian commented on #90
Deleting derived data worked for me too.

[2016-06-14 13:44] barbaramartina commented on #81
@AgentFeeble I think your issue might be related to the missing functionality of **layoutMarginsRelativeArrangement**.

[2016-06-17 13:50] atkit commented on #78
I've just found it to be true.

[2016-07-12 13:32] jurassic opened #91 "Installing CocoaPods results in "Unsupported options `{:exclusive=>true}`" error"
1. cd `../OAStackView/Example`
2. run `pod install`

Expected: Cocoapods successfully installed.
Actual: Error (see below).
[code]

pod version: 1.0.1
OS X 10.10.5

[2016-07-12 15:16] delebedev commented on #91
@jurassic it happens because `Podfile` was written for old version of cocoapods, after 1.0 is out some changes are [needed](http://blog.cocoapods.org/CocoaPods-1.0-Migration-Guide/). PR is welcome, as usual.

[2016-07-15 07:06] xiaomaogong opened #92 "App crash when initialize the OAStackView"
Any idea why this crash?

 Raw Text

`Crashed: com.apple.main-thread
0  MyAPP                   0x100b30000 -[OAStackViewAlignmentStrategy addConstraintsOnOtherAxis:] (OAStackViewAlignmentStrategy.m:105)
1  MyAPP                   0x100b2e9c4 __38-[OAStackView setAlignmentConstraints]_block_invoke (OAStackView.m:146)
2  MyAPP                   0x100b2d784 -[OAStackView(Traversal) iterateVisibleVie

[2016-08-14 12:22] brunnoferreira opened #93 "Behavior mismatch between `removeArrangedSubview:` and `removeFromSuperview`"
Hey there, @oarrabi!

First of all, thanks for `OAStackView` and all the effort you put into it. I was just playing with it and replaced a previously iOS 9-only codebase without many issues, but found an odd one.

The original code, which uses `UIStackView`, follows Apple's guidelines and removes subviews by calling `removeFromSuperview`. Here's what the docs say about `removeArrangedSubview:`:

`

[2016-08-26 06:28] StoneHub opened #95 "[XIB] Does not work on xib file?"
I am trying to add stackview into my cel xib, but get error:
[code]

[2016-09-07 05:10] ghost commented on #92
I have the same issue. Anyone can answer this?

[2016-10-21 03:52] ioriginal opened #97 "Hi there."
Is it known that when the arrangedSubview is OAStackView, it would layout its arrangedSubviews in error?

[2016-10-21 04:17] #97 closed

[2016-11-29 06:07] dipkasyap commented on #63
is this bug fixing in progress or not ? i am in worse condition, i need to use this feature . crossing fingers :)

[2017-01-17 12:59] AbhilashBeecha opened #98 "Getting error in Xcode 8.1 version"
I am getting error in Xcode 8.1 version like Unknown type name 'NS_ASSUME_NONNUL_BEGIN' UIAccelerometer.h  please help me out.

[2017-01-18 18:13] paleozogt commented on #91
I've made PR #99 that fixes this issue.

[2017-01-19 13:54] nsomar commented on #91
Pr #99 merged!

[2017-01-19 15:55] paleozogt commented on #68
Is this a dupe of #2?

[2017-01-19 17:48] paleozogt opened #100 "ios7 compatibility"
PR #87 breaks the ability to have OAStackView be a static framework (because it uses Swift), and consequently breaks iOS 7 compatibility.

OAStackView's own Examples project (Deployment Target = 7.1) is broken because of this:
[code]

It can't be worked around, either, as Cocoapods ~doesn't~ can't support static frameworks with Swift.  For example if we remove `use_frameworks!` from the Podfile we

[2017-01-20 22:46] paleozogt commented on #100
While PR #60 lets you use `UIStackView` in IB files, what I think PR #87 is after is to let you use `OAStackViewProxy` in IB files and have it inherit from the right thing (`OAStackView` or `UIStackView`, depending on the OS).

There's a simpler way to get at this functionality.  We can just have `OAStackViewProxy` inherit from `UIStackView`.  Since PR #60 makes `UIStackView` inherit from `OAStack

[2017-02-10 08:39] krafter opened #102 "Doesn't work as documented in IB"
The Interface Builder method described in docs simply doesn't work.
I just followed all the steps in a new project exactly as said in Usage section.
Buttons stay where they were.

[2017-07-21 10:49] Nirajpaul2 commented on #47
I think, this is Autolayout issues, it is not a big problem, we can be solved by add this line of code inside the viewdidload.

  UserDefaults.standard.setValue(false, forKey:"_UIConstraintBasedLayoutLogUnsatisfiable")

[2017-09-29 03:57] UcanUup commented on #50
In iOS 11 it is possible to customize the spacing after any of the arranged subviews of a stack view. I think OAStackView can make it possible

[2018-06-18 15:45] #90 closed

[2020-04-28 15:39] #78 closed

[2021-02-02 23:11] UInt2048 commented on #100
I imagine this is no longer an issue with #101 merged?